.container-health{
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 0.8em;
  margin-bottom: 5em;
}

.container-health h2 {
  margin-bottom: 1.5em;
}
.container-health span {
  margin-left: 3em;
  font-size: 1.3em;
}

.dados {
  margin-bottom: 2em;
}

.container-health h3 {
  text-align: center;
  color: green;
}