.item-ex {
  text-align: center;
  display: flex;
  height: 100vh;
  max-height: 430px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 12px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #121212;
}

.item-ex span {
  font-size: 16px;
}

.item-ex img {
  padding: 15px;
  height: auto;
  width: auto;
}

.form-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.2em;
}

.group-list {
  padding: 0.3em;
  font-size: 1.1em;
  border-radius: 5px;
  height: 2em;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px #121212;
  cursor: pointer;
}

.btn-showModal {
  background-color: transparent;
  border: 3px solid #121212;
  border-radius: 5px;
  padding: 4px;
  color: #121212;
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.4s;
}

.btn-showModal:hover {
  background-color: #121212;
  color: #ffffffe5;
}