.sidebar{
  margin: 0;
  padding: 0;
  background-color: #121212;
  position: fixed;
  height: 100%;
  overflow: auto;
  width: 200px;
  justify-content: space-around;
}

.sidebar .divLogo{
  margin: 1rem auto;
  width: 145px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-color: #DF9400;
  border: 3px solid black;
}

.teste {
  text-align: center;
  
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

.sidebar div img {
  width: 90px;
  height: 90px;
  display: block;
  margin: auto;
}

.sidebar a, .btn-logout {
  border-top: 2px solid #272727;
  display: block;
  padding: 16px;
  display: flex;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.4s;
}

.sidebar a svg{
  margin-right: 0.5rem;
}

.sidebar a:hover{
  background-color: #272727;
  color: rgb(248, 248, 248, 0.9);
}

.btn-logout:hover{
  background-color: #272727;
  color: #FFF;
}

.content{
  margin-left: 200px;
  padding: 1px 16px;
}

@media screen and  (max-width: 970px){
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .content{
    margin-left: 0;
  }
  .teste, .divLogo {
    display: none;
  }
  .sidebar a{
    border-top:none;
    float: left;
  }
  .sidebar a svg{
    display: none;
  }
}

@media screen and  (max-width: 430px){
  .sidebar {
    justify-content: space-around;
  }
  .divLogo, .teste {
    display: none;
  }
  .sidebar a {
    border-top:none;
    margin: 0;
    padding: 15px 8px;
  }
}

@media screen and  (max-width: 300px){
  .sidebar {
    justify-content: space-around;
  }
  .sidebar a {
    border-top:none;
    font-size: 12px;
    padding: 12px 5px;
  }
}